.전체{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:200px;
    height:3000px;
}

.최상단{
    display: flex;
    justify-content:space-between;
}

.에브리타임{
    font-size:small;
    color: brown;
}

.학교{
    font-size:larger;
    font-weight: bolder;
}

.돋보기{
    width:5px;
    height:5px;
}

.박스{
    width:200px;
    height:100px;
    border: 10px;
    border-radius:1px;

}